@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    This application is designed to help manage customers and their associated products.
    You can add, edit, view, and delete customers as well as assign products to them.
</p>
