@model string

@{
    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2>
<p>You do not have permission to access this page. Please contact the administrator if you believe this is an error.</p>
<a asp-action="Login">Login</a>
